@use "sass:color";
///
// Specialized Colors Specific to the Website
///

// Adjustments
    $shade-amount: 20%;

// Brand Colors
    $brand-primary:             hsla(217, 81%, 49%, 1.0);   // Bright Navy Blue
    $brand-accent:              hsla(37, 81%, 49%, 1.0);    // Gamboge
    $brand-alternative:         hsla(127, 81%, 49%, 1.0);   // Vivid Malachite

// Utility Colors
    $utility-light:             hsla(40, 5%, 89%, 1.0);     // Platinum
    $utility-base:              hsla(120, 0%, 51%, 1.0);    // Granite Gray
    $utility-dark:              hsla(0, 0%, 18%, 1.0);      // Charleston Green (Black)
    $utility-error:             hsla(1, 69%, 53%, 1.0);     // CG Red
    $utility-warning:           hsla(46, 85%, 62%, 1.0);    // Maize
    $utility-success:           hsla(140, 52%, 55%, 1.0);   // Emerald

// Color Maps
$color-map: (
    "brand": (
        "primary":                $brand-primary,
        "accent":                 $brand-accent,
        "alternative":            $brand-alternative,
    ),
    "utility": (
        "light":                  $utility-light,
        "base":                   $utility-base,
        "dark":                   $utility-dark,
        "error":                  $utility-error,
        "warning":                $utility-warning,
        "success":                $utility-success,
    ),
);